html,
body {
  position: relative;
  height: 100%;
  margin: 0px;
  background-color: LightCoral;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

/*div[class^="col"] {
  background-color: cornflowerblue;
  border: 1px solid black;
}*/

/*div[class^="row"] {
    background-color: red;
    border: 1px solid yellow;
  }*/

.menuLink {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 640;
}

#search {
  border: 0px;
  border-bottom: 2px solid black;
}

#search:focus {
  outline: none;
}

#searchSubmit {
  visibility: hidden;
}

.accountLink {
  font-weight: 650;
}

.dashboardButton {
  width: 200px;
}

.coverCarousel {
  height: 243px;
  width: 170px;
}

.coverMovies {
  height: 330px;
  width: 231px;
}

